/* static/css/style_create_list.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

nav {
    background-color: #322828;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

#list-section {
    background-color: #fff;
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#list-form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input[type="text"] {
    padding: 8px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

#parent-list {
    padding: 8px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

.btn {
    background-color: #4CAF50;
    color: rgb(173, 226, 250);
    padding: 10px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #45a049;
}

#list-view {
    background-color: #b6f5e4;
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#lists {
    list-style: none;
    padding: 0;
}

#lists li {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    margin: 0;
}

#lists li:last-child {
    border-bottom: none;
}
